/* 98.css overrides deemed worthy of change / extension */
@import "98.css";

@font-face {
    font-family: 'FixederSys1x';
    src: url('../resources/font/FixederSys1x.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MS Sans Serif';
    src: url('../resources/font/ms-sans-serif.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
    font-smooth: never !important;
    user-select: none !important;
}

html,
body,
select,
button,
div,
option {
    cursor: url('../resources/icons/default.png') 11 11, auto !important;
}

a {
    cursor: url('../resources/icons/pointer.png') 11 11, auto !important;
}

.resize-handle-nw,
.resize-handle-se {
    cursor: url('../resources/icons/resize-fs.png') 2 2, nwse-resize !important;
}

.resize-handle-ne,
.resize-handle-sw {
    cursor: url('../resources/icons/resize-bs.png') 2 2, nesw-resize !important;
}

.resize-handle-n,
.resize-handle-s {
    cursor: url('../resources/icons/resize-ud.png') 2 2, ns-resize !important;
}

.resize-handle-w,
.resize-handle-e {
    cursor: url('../resources/icons/resize-lr.png') 2 2, ew-resize !important;
}

::selection {
    background-color: #000080;
    color: #fff
}

body {
    font-family: "Pixelated MS Sans Serif", Arial, sans-serif;
    font-size: 1px;
    margin: 0;
    padding: 0;
}

textarea {
    font-family: 'FixederSys1x', monospace;
    font-size: 16px;
    user-select: text !important;
}

option {
    font-family: "Pixelated MS Sans Serif", Arial, sans-serif;
    font-size: 11px;
    background-color: #fff;
    color: #000;
}

.window-body {
    height: 100%;
}

/* Start Menu Items */
.menu-item {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    cursor: default;
    color: black;
    height: 24px;
}

.menu-item:hover {
    background-color: #000080;
    color: white;
}

.menu-item:hover .menu-item-arrow {
    border-left-color: white;
}

.menu-item-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item-icon img {
    max-width: 100%;
    max-height: 100%;
}

.menu-item-text {
    flex: 1;
    white-space: nowrap;
}

.menu-item-arrow {
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid black;
    margin-left: 8px;
}

.separator {
    height: 1px;
    background: white;
    border-top: 1px solid gray;
    margin: 3px 1px;
}