/* 98.css overrides deemed worthy of change / extension */
@import "98.css";

@font-face {
    font-family: 'FixederSys1x';
    src: url('../resources/font/FixederSys1x.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MS Sans Serif';
    src: url('../resources/font/ms-sans-serif.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Win98 CSS Custom Properties */
:root, :host {
    /* Core Colors */
    --win98-surface: #c0c0c0;
    --win98-window: #fff;
    --win98-text: #000;
    --win98-highlight: #000080;
    --win98-highlight-text: #fff;
    
    /* 3D Border Colors */
    --win98-button-highlight: #fff;
    --win98-button-light: #dfdfdf;
    --win98-button-shadow: #808080;
    --win98-button-dark-shadow: #0a0a0a;
    
    /* Title Bar Gradient */
    --win98-title-bar-active-start: navy;
    --win98-title-bar-active-end: #1084d0;
    --win98-title-bar-inactive-start: grey;
    --win98-title-bar-inactive-end: #b5b5b5;
    
    /* Fonts */
    --win98-font-family: "Pixelated MS Sans Serif", Arial, sans-serif;
    --win98-font-size: 11px;
    --win98-fixed-font-family: 'FixederSys1x', monospace;
    
    /* Box Shadows - Raised (button/window) */
    --win98-shadow-raised: inset -1px -1px var(--win98-button-dark-shadow),
                           inset 1px 1px var(--win98-button-highlight),
                           inset -2px -2px var(--win98-button-shadow),
                           inset 2px 2px var(--win98-button-light);
    
    /* Box Shadows - Pressed */
    --win98-shadow-pressed: inset -1px -1px var(--win98-button-highlight),
                            inset 1px 1px var(--win98-button-dark-shadow),
                            inset -2px -2px var(--win98-button-light),
                            inset 2px 2px var(--win98-button-shadow);
    
    /* Box Shadows - Sunken (input fields) */
    --win98-shadow-sunken: inset -1px -1px var(--win98-button-highlight),
                           inset 1px 1px var(--win98-button-shadow),
                           inset -2px -2px var(--win98-button-light),
                           inset 2px 2px var(--win98-button-dark-shadow);
    
    /* Box Shadows - Status bar/field */
    --win98-shadow-status: inset -1px -1px var(--win98-button-light),
                           inset 1px 1px var(--win98-button-shadow);
    
    /* Sizing */
    --win98-taskbar-height: 28px;
    --win98-title-bar-height: 18px;
}

html {
    font-smooth: never !important;
    user-select: none !important;
}

html,
body,
select,
win98-select,
win98-button,
win98-window,
win98-menu-item,
div,
option {
    cursor: url('../resources/cursors/default.png') 11 11, default !important;
}

button {
    cursor: url('../resources/cursors/default.png') 11 11, pointer !important;
}

a,
win98-menu-item:hover {
    cursor: url('../resources/cursors/pointer.png') 11 11, pointer !important;
}

.resize-handle-nw,
.resize-handle-se {
    cursor: url('../resources/cursors/resize-fs.png') 7 7, nwse-resize !important;
}

.resize-handle-ne,
.resize-handle-sw {
    cursor: url('../resources/cursors/resize-bs.png') 2 2, nesw-resize !important;
}

.resize-handle-n,
.resize-handle-s {
    cursor: url('../resources/cursors/resize-ud.png') 10 5, ns-resize !important;
}

.resize-handle-w,
.resize-handle-e {
    cursor: url('../resources/cursors/resize-lr.png') 10 10, ew-resize !important;
}

/* Cursor Utilities */
.cursor-drag-nwse {
    cursor: url('../resources/cursors/resize-fs.png') 7 7, nwse-resize !important;
}

.cursor-drag-nesw {
    cursor: url('../resources/cursors/resize-bs.png') 2 2, nesw-resize !important;
}

.cursor-drag-ns {
    cursor: url('../resources/cursors/resize-ud.png') 10 5, ns-resize !important;
}

.cursor-drag-ew {
    cursor: url('../resources/cursors/resize-lr.png') 2 2, ew-resize !important;
}

.cursor-drag-default {
    cursor: url('../resources/cursors/default.png') 11 11, default !important;
}

::selection {
    background-color: var(--win98-highlight);
    color: var(--win98-highlight-text);
}

body {
    font-family: var(--win98-font-family);
    font-size: 1px;
    margin: 0;
    padding: 0;
}

textarea {
    font-family: var(--win98-fixed-font-family);
    font-size: 16px;
    user-select: text !important;
}

option {
    font-family: var(--win98-font-family);
    font-size: var(--win98-font-size);
    background-color: var(--win98-window);
    color: var(--win98-text);
}

.window-body {
    height: 100%;
}

.separator {
    height: 1px;
    background: var(--win98-button-highlight);
    border-top: 1px solid var(--win98-button-shadow);
    margin: 3px 1px;
}