/* 98.css overrides deemed worthy of change */
@font-face {
    font-family: 'FixederSys1x';
    src: url('../resources/font/FixederSys1x.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,
body,
button,
select,
div {
    cursor: url('../resources/icons/default.png') 11 11, auto;
}



body {
    font-family: "Pixelated MS Sans Serif", Arial, sans-serif;
    font-size: 12px;
    color: var(--text-color);
}

textarea {
    font-family: 'FixederSys1x', monospace;
    font-size: 16px;
}

option {
    font-family: "Pixelated MS Sans Serif", Arial, sans-serif;
    font-size: 11px;
    background-color: #fff;
    color: #000;
}

.window-body {
    height: 100%;
}