/* 98.css overrides deemed worthy of change / extension */
@import "98.css";

@font-face {
    font-family: 'FixederSys1x';
    src: url('../resources/font/FixederSys1x.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MS Sans Serif';
    src: url('../resources/font/ms-sans-serif.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
    font-smooth: never !important;
    user-select: none !important;
}

html,
body,
select,
button,
div,
option {
    cursor: url('../resources/cursors/default.png') 11 11, auto !important;
}

a {
    cursor: url('../resources/cursors/pointer.png') 11 11, auto !important;
}

.resize-handle-nw,
.resize-handle-se {
    cursor: url('../resources/cursors/resize-fs.png') 2 2, nwse-resize !important;
}

.resize-handle-ne,
.resize-handle-sw {
    cursor: url('../resources/cursors/resize-bs.png') 2 2, nesw-resize !important;
}

.resize-handle-n,
.resize-handle-s {
    cursor: url('../resources/cursors/resize-ud.png') 2 2, ns-resize !important;
}

.resize-handle-w,
.resize-handle-e {
    cursor: url('../resources/cursors/resize-lr.png') 2 2, ew-resize !important;
}

::selection {
    background-color: #000080;
    color: #fff
}

body {
    font-family: "Pixelated MS Sans Serif", Arial, sans-serif;
    font-size: 1px;
    margin: 0;
    padding: 0;
}

textarea {
    font-family: 'FixederSys1x', monospace;
    font-size: 16px;
    user-select: text !important;
}

option {
    font-family: "Pixelated MS Sans Serif", Arial, sans-serif;
    font-size: 11px;
    background-color: #fff;
    color: #000;
}

.window-body {
    height: 100%;
}

.separator {
    height: 1px;
    background: white;
    border-top: 1px solid gray;
    margin: 3px 1px;
}